.body {
  display: flex;
  padding: 1rem 1.5rem;
  max-height: 100vh;
}

.main {
  display: flex;
  flex-basis: 70%;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.nav {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  max-width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
