.grid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.categoryButtonsContainer {
  display: flex;
  gap: 0.5rem;
}

.categoryToggle {
  display: none;
}

.categorySelect {
  display: none;
}

.categoryButton {
  padding: 0.1rem 0.5rem;
  font-size: 14px;
  line-height: 1.5;
  margin: 15px 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.15s;
}

.categoryButton:hover {
  color: gray;
}

.categoryButton:focus {
  color: gray;
}

@media screen and (max-width: 768px) {
  .grid {
    gap: 1rem;
  }

  .categoryButtonsOuter {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease;
  }
  .categoryButtonsOuter.responsive {
    grid-template-rows: 1fr;
  }

  .categoryButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    overflow: hidden;
  }

  .categoryButton {
    margin: 5px 0;
    padding: 0;
  }

  .categoryToggle {
    display: flex;
  }

  .categorySelect {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
  }
}
