@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

.body {
  padding: 1rem 1.5rem;
  /* height: 100vh; */
  /* display: inline-block; */
}

.layout {

  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ebebeb;
  min-height: 4vh;
}
.nav {
  display: flex;
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "Rubik Distressed";
  font-size: 2rem;
}

.navmenu {
  display: none
}

@media screen and (max-width: 768px) {
  .header {
    align-items: flex-start;
    /* border: none; */
  }
  .logo {
    display: none;
  }

  .body {
    padding: 1rem 0.5rem;
  }

  .nav {
    display: flex;
    gap: 0.5rem;
    position: relative;
    transform: translateX(-100vw);
    transition: 500ms ease;
  }

  .nav.responsive {
    transform: translateX(0%);
  }

  .navmenu {
    display: flex;
  }

  
}
