@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

.body {
  padding: 1rem 1.5rem;
  height: 100vh;
}

.layout {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  gap: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "Rubik Distressed";
  font-size: 2rem;
}
